<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padding</title>
</head>
<body>
    <h2>Padding</h2>
    <form method="post">
        <table border="">
            <tr>
                <th>ID</th>
                <th>Staff Name</th>
                <th>Task Name</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Total Day</th>
                <th>Running</th>
                <th>Completed</th>
            </tr>
                <% result.forEach(function(data){ %>
                    <tr>
                        <td>
                            <%= data.id%>
                        </td>
                        <td>
                            <%= data.staffname%>
                        </td>
                        <td>
                            <%= data.taskname%>
                        </td>
                        <td>
                            <%= data.startdate%>
                        </td>
                        <td>
                            <%= data.enddate%>
                        </td>
                        <td>
                            <%= data.totalday%>
                        </td>
                        <td>
                            <a href="/running/<%= data.id %>">Running</a>
                        </td>
                        <td>
                            <a href="/complete/<%= data.id %>">Completed</a>
                        </td>
                    </tr>
                    <% }); %>
            </tr>
        </table>
    </form>
</body>
</html>